.contacts {
  @media (max-width: @only-mobile-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: -26px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid @icon;
    }
  }

  @media (min-width: @tablet-width) {
    text-align: left;

    padding-left: 50px;
    border-left: 1px solid @icon;
  }

  @media (min-width: @desktop-width) {
    padding-right: 50px;
    border-right: 1px solid @icon;
  }
}

.contacts__email {
  display: block;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 17px;
  color: @accent;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: darken(@accent, 20%);
  }
}

.contacts__phone {
  display: block;
  font-size: 16px;
  line-height: 32px;
  text-decoration: underline;
  color: @accent;

  &:hover,
  &:focus,
  &:active {
    color: @accent-hover;
  }
}

.contacts__icon {
  color: @icon;
  margin-right: 15px;
  vertical-align: middle;
}
