.feedback {
  background-color: @light;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback__text {
  line-height: 24px;
  color: @darker;
  margin-top: 0;
  margin-bottom: 20px;
}
