.next-trips {
  margin-bottom: 60px;
}

.next-trips__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.next-trips__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
  color: rgba(@darker-rgb, 0.5);
  width: 134px;
}

.next-trips__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
