.place-card__link {
  color: inherit;
  text-decoration: none;
}

.place-card__see-more {
  display: none;
  padding: 30px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: @white;
  border: 1px solid rgba(@white-rgb, 0.7);
}

.place-card__country {
  display: block;
  padding: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.4px;
}
