.promo {
  margin-bottom: 80px;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 83px;
    background-color: @dark-back;
    background-image: url("../img/back/promo-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promo__title-box {
  padding-top: 81px;
  padding-bottom: 82px;
  margin-bottom: 20px;
  background-color: @dark-back;
  background-image: url("../img/back/promo-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    background-color: transparent;
    background-image: none;
  }
}

.promo__title {
  margin: 0;
}

.promo__leading {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 400px;
    margin: 0 auto 9px;
    color: @white;
  }
}

.promo__link {
  display: flex;
  justify-content: space-around;

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("../img/icon/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}
